.intro {
  font-family: cursive;
  font-size: 20px;
}

.important-text {
  font-weight: bolder;
  color: #7f4a31;
}

.about-me {
  color: #7c2c7b;
  font-style: italic;
  font-size: 18px;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  background-color: #e2dcaa;
}

h1 {
  text-align: center;
  font-size: 40px;
  text-shadow: 3px 3px 1px #e2dcaa;
}

h2 {
  text-align: center;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: grey;
  padding: 7px;
  text-align: center;
  font-size: 27px;
  text-shadow: 1px 1px white;
}

.blog-spacing {
  padding: 30px;
}

h2.about {
  font-size: 30px;
  font-weight: bolder;
  border: 10px;
  margin: 50px;
  padding: 10px;
  background-color: #b8d0db;
}
